body {
    display: flex;
    flex-direction: column;
    gap: 2em;
    margin: 2em;
}

body, div {
    gap: 2em;
}

body *:not(div) {
    border: solid 1px #fff;
    box-shadow: 0 0px 10px;
    border-radius: 2px;
    min-height: 20vh;
    padding: 2em;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    
}

div {
    display: flex;
}


main {
    flex-grow: 2;
    flex-basis: 66%;
}

aside {
    flex-grow: 1;
    flex-basis: 33%;
}