* {
    padding: 0;
    margin: 0;
    font-family: Helvetica, sans-serif;
}

body, ul {
    box-sizing: border-box;
    margin: 2em;
    background-color: rgb(238, 238, 238);
    color: rgb(51, 51, 51);
}

article {
    width: 66%;
}

header {
    margin-bottom: 3em;
}

h1 {
    font-size: xx-large;
}

p {
    margin: 2em 0;
}

ul {
    list-style: square;
}

li {
    padding: 0.2em;
}

img {
    width: 100%;
    height: auto;
}

aside {
    position: absolute;
    top: 3%;
    right: 2.5%;
}

.img-container {
    display: block;
    width: 35rem;
    margin: 2em 2em 2em 0;
}