@media (max-width: 600px) {

    .home-navbar1 {
        display: none;
    }

    .category-card-category-card {
        max-width: 40%;
        margin: 0 1.2em;
    }

    .category-card-image{
        width: 17em;
        height: 17em;
    }

    .home-full-width-banner {
        flex-direction: column;
    }

    .home-content {
        margin: 0 0 1em 0;
    }

    .home-left4 {
        padding: 2em;
    }

    .home-text30 {
        width: 100%;
    }

    .home-image6 {
        width: 100%;
    }

    .blog-post-card-blog-post-card {
        max-width: 100%;
    }

    .home-footer1 {
        flex-direction: column;
        padding-top: 3em;
        padding-bottom: 1em;
    }

    .home-links-container {
        flex-direction: column;
    }

    .home-container09 {
        order: 1;
        margin-top: 2em;
    }
}