* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container ul {
    display: flex;
    width: 70em;
    gap: 1em;
    justify-content: center;
}

.container li {
    width: 7em;
    height: 25em;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 0 0 30px 10px rgba(0, 0, 0, 0.2);
    list-style: none;
}

.container img {
    width: auto;
    height: 100%;
}

.container .wide {
    width: auto;
}