header, footer  {
    display: flex;
    margin: 0 1em;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

header {
    padding: 1em 0;
}

main {
    flex: 1 1 100%;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

/* h1 {
    font-weight: 700;
    font-size: 2em;
} */

.title-container {
    max-width: 15em;
}

.title {
    display: flex;
    /* color: darkviolet;
    font-size: 30px; */
}

.title-message {
    /* font-size: 8px;
    line-height: 20px;
    text-transform: uppercase; */
}

nav {
    min-width: 25em;
    align-self: center;
}

nav ul {
    display: flex;
    justify-content: space-between;
}

footer {
    display: flex;
    justify-content: space-around;
    padding: 2em;
    border-top: solid 3px #ccc;
    margin-top: 8em;
}

footer > * {
    max-width: 30em;
    flex: 1 1 200px;
}

.container {
    display: flex;
    max-width: 50%;
    justify-content: space-between;
}

.need-website {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.need-website-container {
    display: flex;
    max-width: 80%;
    padding: 5em;
}

.need-website-text {
    order: 1;
    max-width: 40em;
    height: auto;
}

.need-website img {
    max-width: 11vw;
    padding-left: 2em;
    order: 2;
}

.our-team,
.testimonials {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.our-team ul,
.testimonials ul {
    display: flex;
    flex-wrap: wrap;
    max-width: 40%;
    justify-content: space-between;
}

.our-team li,
.testimonials li {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 33%;
}

.our-team li img,
.testimonials li img {
    width: 100%;
    height: auto;
}

.sign-newsletter {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2em 0;
    padding: 2em;
}

.our-team h1::after,
.sign-newsletter h1::after,
.testimonials h1::after {
    margin: 1em 0;
    content: '';
    border: 1px solid;
    display: block;
    width: 35%;
    position: relative;
    left: 30%;
}

.site-map {
    display: flex;
    flex-wrap: wrap;
}

.site-map ul {
    flex-grow: 1;
}

.site-map h3 {
    width: 100%;
}