.my-list {
    padding: 0.5em 1.5em;
    margin: 0.5em 2em;
    width: 500px;
    background-color: yellow;
    font-size: 30px;
    border: 1px solid #f7f381;
    box-shadow: 0 0 10px 2px #333333;
}

ol {
    margin: 12px;
}

p {
    text-align: center;
}