* {
    padding: 0;
    margin: 0;
}

body {
    box-sizing: border-box;
}

.cup-container {
    width: 700px;
    height: 500px;
    margin: 60px;
}

.cup-container .new {
    position: relative;
    top: -40%;
    left: 69%;
}